<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First name">
    <mat-hint>Please enter your first name</mat-hint>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)] = 'email' name = 'email' matInput placeholder="Email">
    <mat-hint>Please enter your email</mat-hint>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)] = 'password' name = 'password' matInput placeholder="Password">
    <mat-hint>Please enter your Password</mat-hint>
  </mat-form-field>
<button (click)= "toregister()">toregister </button>
{{email}}

</form>