<mat-card class="example-card">
    <mat-card-actions>


        <a routerLink= "">Todos</a>-
        <a routerLink= "/login">Login</a>-
        <button (click)="toRegister()">Register</button>-
         <button (click)="toCodes()">Codes</button>-
         <a routerLink= "/users">Users todos</a>-


    </mat-card-actions>

</mat-card>