<div>
  <ul>
    <todo *ngFor="let todo of todos" 
          [data]= "todo"
          (myButtonClicked)= "showText($event)"></todo>
  </ul>
</div>

<div>
  this is the text: {{todoTextFromTodo}}
</div>