<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()">
  {{text}} {{id}}<button 
                    (click) = "send()"
                    *ngIf="showTheButton"
                    >Click to see</button>
                    
</li>
